---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import ScootToday from "@/components/ScootToday.astro";
import WhyJoin from "@/components/WhyJoin.astro";
---

<Layout title="Frontend Mentor | Scoot">
  <!-- THE HEADER -->
  <Header />
  <main class="overflow-hidden">
    <!-- THE TITLE -->
    <section class="relative overflow-hidden">
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="/images/images/careers-locations-hero-desktop.jpg"
        />
        <source
          media="(min-width:768px )"
          srcset="/images/images/careers-locations-hero-tablet.jpg"
        />
        <img
          src="/images/images/careers-location-hero-mobile.jpg"
          alt=""
          class=""
        />
      </picture>
      <div class="">
        <h1
          class="bg-[#2F3B59]/-25 absolute top-0 flex h-40 w-full items-center justify-center font-SpaceMono text-[2.5rem] font-bold leading-10 tracking-[-0.11163rem] text-white md:h-[12.5rem] md:pl-[6.06rem] md:text-[3.5rem] md:leading-[3.5rem] md:tracking-[-0.15625rem] md:max-2xl:items-center md:max-2xl:justify-start md:max-2xl:text-left xl:pl-[10.31rem]"
        >
          Careers
        </h1>
        <img
          src="/images/patterns/white-circles.svg"
          alt=""
          class="absolute right-[-30px] top-[70px] hidden md:max-2xl:flex"
        />
      </div>
    </section>
    <!-- JOIN OUR MISSION -->
    <section
      class="relative mb-[7.5rem] mt-20 flex flex-col items-center gap-16 md:ml-[2.44rem] md:mr-10 md:mt-24 xl:mx-[10.31rem] xl:mb-[11.62rem] xl:flex-row-reverse xl:gap-[13.31rem]"
    >
      <img
        src="/images/images/join-us.jpg"
        alt=""
        class="w-[19.74325rem] rounded-full md:w-[28.25rem]"
      />
      <img
        src="/images/patterns/circle.svg"
        alt=""
        class="absolute hidden md:right-[-25rem] md:max-2xl:flex xl:right-[-31.31rem]"
      />
      <img
        src="/images/patterns/left-downward-arrow.svg"
        alt=""
        class="absolute right-[-1rem] top-[11rem] md:right-[-2rem] md:top-[18.5rem] xl:right-[-10.31rem] xl:top-[19rem]"
      />
      <div
        class="mx-8 flex flex-col items-center justify-center gap-8 text-center xl:items-start xl:gap-6 xl:text-left"
      >
        <h2
          class="w-[19.4375rem] font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] text-[#495567] md:w-[28.5625rem] md:text-[3rem] md:leading-[3rem] md:tracking-[-0.13394rem] xl:w-[27.8125rem]"
        >
          Care to join our mission?
        </h2>
        <p
          class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[35.8125rem] xl:w-[27.8125rem]"
        >
          We&#39;re always looking for ambitious individuals to help us on our
          journey. If you&#39;re passionate about our mission to provide clean,
          accessible transport to improve urban living we want to hear from you!
        </p>
        <a
          href=""
          class="flex h-[3.3125rem] w-[11.25rem] items-center justify-center bg-[#FCB72B] font-SpaceMono text-[0.9375rem] font-bold leading-[1.5625rem] text-white transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] xl:mt-4"
          >Say Hello</a
        >
      </div>
    </section>
    <!-- WHY JOIN US -->
    <WhyJoin />
    <!-- LISTED JOBS -->
    <section
      class="mx-8 mb-[7.5rem] mt-[9.06rem] flex flex-col gap-4 md:ml-[2.44rem] md:mr-10 xl:mx-[10.31rem]"
    >
      <!-- General Manager -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pt-[2.25rem] text-center md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:h-[8rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            General Manager
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            Jakarta, Indonesia
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
      <!-- UI/UX Designer -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pb-8 pt-[2.25rem] text-center md:h-[8rem] md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            UI/UX Designer
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            Yokohama, Japan
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
      <!-- Blog Content Copywriter -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pb-8 pt-[2.25rem] text-center md:h-[8rem] md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            Blog Content Copywriter
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            New York, United States
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
      <!-- Graphic Designer -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pb-8 pt-[2.25rem] text-center md:h-[8rem] md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            Graphic Designer
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            New York, United States
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
      <!-- Fleet Supervisor -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pb-8 pt-[2.25rem] text-center md:h-[8rem] md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            Fleet Supervisor
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            Jakarta, Indonesia
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
      <!-- UX Analyst -->
      <div
        class="flex h-[11.875rem] w-[19.4375rem] flex-col items-center gap-4 bg-[#F2F5F9] px-8 pb-8 pt-[2.25rem] text-center md:h-[8rem] md:w-[43.0625rem] md:px-12 md:pb-[2.06rem] md:pt-[2.13rem] md:max-2xl:flex-row md:max-2xl:justify-between md:max-2xl:text-left xl:w-[69.375rem] xl:pb-[2.19rem] xl:pl-8 xl:pr-16 xl:pt-8"
      >
        <div class="xl:w-[40.625rem]">
          <h2
            class="font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] text-[#495567] md:text-2xl md:leading-7 md:tracking-[-0.06694rem]"
          >
            UX Analyst
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-[1.5625rem] text-[#495567]"
          >
            London, United Kingdom
          </h3>
        </div>
        <div
          class="flex h-[3.3125rem] w-[15.4375rem] cursor-pointer items-center justify-center bg-[#FCB72B] text-[#FFFFFF] transition-all duration-300 ease-in hover:border-[3px] hover:border-solid hover:border-[#FCB72B] hover:bg-transparent hover:text-[#FCB72B] md:w-[11.25rem]"
        >
          <a href="/" class="text-[0.9375rem] font-bold leading-[1.5625rem]"
            >Apply</a
          >
        </div>
      </div>
    </section>
    <!-- SIGN IN & SCOOT TODAY -->
    <ScootToday />
  </main>
  <!-- THE FOOTER -->
  <Footer />
</Layout>
