---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import ScootToday from "@/components/ScootToday.astro";
import ScooterSharing from "@/components/ScooterSharing.astro";
---

<Layout title="Frontend Mentor | Scoot">
  <!-- THE HEADER -->
  <Header />
  <main>
    <!-- SCOOTER SHARING -->
    <ScooterSharing />
    <ScootToday />
  </main>
  <!-- THE FOOTER -->
  <Footer />
</Layout>
