---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Scoot">
  <main></main>
  <!-- THE FOOTER -->
  <Footer />
</Layout>

<style></style>
