---
import "@/styles/globals.css";
---

<section
  class="mx-8 mb-[7.5rem] mt-[9.06rem] flex flex-col gap-12 text-[#495567] md:ml-[2.44rem] md:mr-10 md:mt-[7.5rem] md:max-2xl:gap-16 xl:mx-[10.31rem] xl:mb-40"
>
  <!-- FAQS -->
  <div class="flex flex-col gap-12 md:max-2xl:gap-16">
    <h2
      class="mx-auto flex w-[19.4375rem] items-center justify-center text-center font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] md:w-[28.5625rem] md:text-5xl md:leading-[3rem] md:tracking-[-0.13394rem] xl:w-[33.75rem]"
    >
      FAQs
    </h2>
    <div class="flex flex-col gap-8 xl:flex-row xl:justify-between">
      <div
        class="flex w-[19.4375rem] items-center justify-center text-center md:mx-auto md:w-[21.875rem] xl:items-start xl:justify-start"
      >
        <h3
          class="font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] md:text-[2.5rem] md:leading-[3rem] md:tracking-[-0.11163rem]"
        >
          How it workss
        </h3>
      </div>
      <div class="flex flex-col gap-4 md:gap-6 xl:gap-4">
        <!-- DOWNLOAD -->
        <div
          class="flex h-[19.4375rem] w-[19.4375rem] flex-col gap-6 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[11.9375rem] md:w-[43.0625rem] xl:w-[45.625rem]"
        >
          <div class="flex items-center gap-4 md:gap-[15.31rem]">
            <h3
              class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
            >
              How do I download the app?
            </h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="13"
              viewBox="0 0 18 13"
              fill="none"
            >
              <path d="M2 11L10 3L18 11" stroke="#FCB72B" stroke-width="3"
              ></path>
            </svg>
          </div>
          <p
            class="w-[15.6875rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] md:w-[38.5625rem]"
          >
            To download the Scoot app, you can search “Scoot” in both the App
            and Google Play stores. An even simpler way to do it would be to
            click the relevant link at the bottom of this page and you&#38;ll be
            re-directed to the correct page.
          </p>
        </div>
        <!-- NEARBY SCOOTS -->
        <div
          class="flex h-[7rem] w-[19.4375rem] items-center gap-4 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[5.75rem] md:w-[43.0625rem] md:gap-[15.31rem] xl:w-[45.625rem]"
        >
          <h3
            class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
          >
            Can I find a nearby Scoots?
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="13"
            viewBox="0 0 18 13"
            fill="none"
          >
            <path d="M2 2L10 10L18 2" stroke="#FCB72B" stroke-width="3"></path>
          </svg>
        </div>
        <!-- LICENSE -->
        <div
          class="flex h-[7rem] w-[19.4375rem] items-center gap-4 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[5.75rem] md:w-[43.0625rem] md:gap-[15.31rem] xl:w-[45.625rem]"
        >
          <h3
            class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
          >
            Do I need a license to ride?
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="13"
            viewBox="0 0 18 13"
            fill="none"
          >
            <path d="M2 2L10 10L18 2" stroke="#FCB72B" stroke-width="3"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- SAFE DRIVING -->
  <div class="flex flex-col gap-12 md:max-2xl:gap-16">
    <div class="flex flex-col gap-8 xl:flex-row xl:justify-between">
      <div
        class="flex w-[19.4375rem] items-center justify-center text-center md:mx-auto md:w-[21.875rem] xl:items-start xl:justify-start"
      >
        <h3
          class="font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] md:text-[2.5rem] md:leading-[3rem] md:tracking-[-0.11163rem]"
        >
          Safe driving
        </h3>
      </div>
      <div class="flex flex-col gap-4 md:gap-6 xl:gap-4">
        <!-- HELMET -->
        <div
          class="flex h-[19.4375rem] w-[19.4375rem] flex-col gap-6 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[11.9375rem] md:w-[43.0625rem] xl:w-[45.625rem]"
        >
          <div class="flex items-center gap-4 md:gap-[15.31rem]">
            <h3
              class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
            >
              Should I wear a helmet?
            </h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="13"
              viewBox="0 0 18 13"
              fill="none"
            >
              <path d="M2 11L10 3L18 11" stroke="#FCB72B" stroke-width="3"
              ></path>
            </svg>
          </div>
          <p
            class="w-[15.6875rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] md:w-[38.5625rem]"
          >
            Yes, please do! All cities have different laws. But we strongly
            strongly strongly recommend always wearing a helmet regardless of
            the local laws. We like you and we want you to be as safe as
            possible while Scooting.
          </p>
        </div>
        <!-- RULES & REGULATIONS -->
        <div
          class="flex h-[7rem] w-[19.4375rem] items-center gap-4 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[5.75rem] md:w-[43.0625rem] md:gap-[15.31rem] xl:w-[45.625rem]"
        >
          <h3
            class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
          >
            How about the rules & regulations?
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="13"
            viewBox="0 0 18 13"
            fill="none"
          >
            <path d="M2 2L10 10L18 2" stroke="#FCB72B" stroke-width="3"></path>
          </svg>
        </div>
        <!-- DAMAGE -->
        <div
          class="flex h-[7rem] w-[19.4375rem] items-center gap-4 bg-[#F2F5F9] p-8 transition-colors duration-300 ease-in hover:bg-[#FFF4DF] md:h-[5.75rem] md:w-[43.0625rem] md:gap-[15.31rem] xl:w-[45.625rem]"
        >
          <h3
            class="w-[14.6875rem] font-SpaceMono text-lg font-bold leading-6 tracking-[-0.05025rem] md:w-[22.25rem] md:tracking-[-0.06694rem]"
          >
            What if I damage my Scoot?
          </h3>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="13"
            viewBox="0 0 18 13"
            fill="none"
          >
            <path d="M2 2L10 10L18 2" stroke="#FCB72B" stroke-width="3"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
