---
import "@/styles/globals.css";
---

<section
  class="mb-[7.5rem] mt-[4.5rem] flex flex-col gap-[7.5rem] md:gap-[5.81rem]"
>
  <!-- MOBILITY -->
  <div
    class="relative mt-20 flex flex-col items-center justify-center gap-14 md:mt-24 xl:mr-[10.31rem] xl:flex-row-reverse xl:justify-between"
  >
    <!-- IMG -->
    <div class="flex">
      <img
        src="/images/images/digital-era.jpg"
        alt=""
        class="w-[19.74325rem] rounded-full md:w-[28.25rem]"
      />
      <img
        src="/images/patterns/circle.svg"
        alt=""
        class="absolute right-[-20.438rem] hidden md:max-2xl:flex xl:right-[-31.438rem]"
      />
      <img
        src="/images/patterns/left-upward-arrow.svg"
        alt=""
        class="absolute right-[-37px] top-[10.188rem] md:right-0 md:top-[16.188rem] xl:right-[-10.31rem]"
      />
    </div>
    <!-- TEXT -->
    <div
      class="xl;gap-6 mx-8 flex flex-col items-center gap-8 text-center md:ml-[6.06rem] md:mr-[6.13rem] md:gap-10 xl:ml-[10.31rem] xl:items-start xl:text-left"
    >
      <h2
        class="w-[19.4375rem] font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] text-[#495567] md:w-[28.5625rem] md:text-[3rem] md:leading-[3rem] md:tracking-[-0.13394rem] xl:w-[27.8125rem]"
      >
        Mobility for the digital era
      </h2>
      <p
        class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[35.8125rem] xl:w-[27.8125rem]"
      >
        Getting around should be simple (and even fun!) for everyone. We embrace
        technology to provide low cost, smart access to scooters at your
        fingertips.
      </p>
    </div>
  </div>
  <!-- BETTER LIVING -->
  <div
    class="relative mt-20 flex flex-col items-center justify-center gap-14 md:mt-24 xl:flex-row xl:justify-between"
  >
    <!-- IMG -->
    <div class="flex">
      <img
        src="/images/images/better-living.jpg"
        alt=""
        class="w-[19.74325rem] rounded-full md:w-[28.25rem] xl:ml-[10.31rem]"
      />
      <img
        src="/images/patterns/circle.svg"
        alt=""
        class="absolute left-[-20.438rem] hidden md:max-2xl:flex"
      />
      <img
        src="/images/patterns/right-arrow.svg"
        alt=""
        class="absolute left-[-3rem] md:left-[-94px] md:top-[-1.812rem]"
      />
    </div>
    <!-- TEXT -->
    <div
      class="xl;gap-6 mx-8 flex flex-col items-center gap-8 text-center md:ml-[6.06rem] md:mr-[6.13rem] md:gap-10 xl:ml-[10.31rem] xl:mr-[10.31rem] xl:items-start xl:text-left"
    >
      <h2
        class="w-[19.4375rem] font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] text-[#495567] md:w-[28.5625rem] md:text-[3rem] md:leading-[3rem] md:tracking-[-0.13394rem] xl:w-[27.8125rem]"
      >
        Mobility for the digital era
      </h2>
      <p
        class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[35.8125rem] xl:w-[27.8125rem]"
      >
        Getting around should be simple (and even fun!) for everyone. We embrace
        technology to provide low cost, smart access to scooters at your
        fingertips.
      </p>
    </div>
  </div>
</section>
