---
import "@/styles/globals.css";
---

<section
  class="scootToday flex flex-col items-center justify-center gap-10 bg-[#495567] px-8 py-[5.5rem] text-center md:py-[3.88rem] md:pl-[9.69rem] md:pr-[9.75rem] xl:flex-row xl:justify-between xl:gap-[22rem] xl:px-[10.31rem] xl:py-[3.38rem] xl:text-left"
>
  <h2
    class="w-[19.4375rem] font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] text-white md:w-[28.5625rem] md:max-2xl:text-5xl md:max-2xl:leading-[3rem] md:max-2xl:tracking-[-0.13394rem] xl:w-[26.9375rem]"
  >
    Sign up and Scoot off today
  </h2>
  <div class="flex items-center justify-between gap-[0.8rem] xl:gap-[1.12rem]">
    <img
      src="/images/icons/app-store.svg"
      alt="app-store"
      class="w-[7.09819rem] xl:w-[9.9375rem]"
    />
    <img
      src="/images/icons/google-play.svg"
      alt="google-play"
      class="w-[8.125rem] xl:w-[11.375rem]"
    />
  </div>
</section>

<style>
  .scootToday {
    background-image: url("/images/patterns/semi-circles.svg");
    background-repeat: no-repeat;
    background-position: bottom -25px right -194px;
  }
</style>
