---
import "@/styles/globals.css";
---

<section
  class="relative mx-8 mb-[6.19rem] mt-[7.5rem] flex flex-col items-center gap-12 md:mb-[7.75rem] md:ml-[6.06rem] md:mr-[6.12rem] md:mt-[7.63rem] md:gap-10 xl:mx-[10.31rem] xl:mb-[13rem] xl:mt-40 xl:flex-row xl:justify-between xl:gap-[1.87rem]"
>
  <!-- Locate with app -->
  <div
    class="flex flex-col items-center gap-6 text-center md:flex-row md:items-start md:justify-between md:gap-[4.94rem] md:text-left xl:flex-col xl:gap-10"
  >
    <div class="">
      <img src="/images/icons/locate.svg" alt="" class="" />
    </div>
    <div
      class="flex w-[19.4375rem] flex-col gap-6 md:w-[24.875rem] md:gap-[1.69rem] xl:w-[21.875rem]"
    >
      <h2
        class="font-SpaceMono text-xl font-bold leading-7 tracking-[-0.05581rem] text-[#495567] md:text-2xl md:tracking-[-0.06694rem]"
      >
        Locate with app
      </h2>
      <p
        class="font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA]"
      >
        Use the app to find the nearest scooter to you. We are continuously
        placing scooters in the areas with most demand, so one should never be
        too far away.
      </p>
    </div>
  </div>
  <!-- Pick your scooter -->
  <div
    class="flex flex-col items-center gap-6 text-center md:flex-row md:items-start md:justify-between md:gap-[4.94rem] md:text-left xl:flex-col xl:gap-10"
  >
    <div class="">
      <img src="/images/icons/scooter.svg" alt="" class="" />
    </div>
    <div
      class="flex w-[19.4375rem] flex-col gap-6 md:w-[24.875rem] md:gap-[1.69rem] xl:w-[21.875rem]"
    >
      <h2
        class="font-SpaceMono text-xl font-bold leading-7 tracking-[-0.05581rem] text-[#495567] md:text-2xl md:tracking-[-0.06694rem]"
      >
        Pick your scooter
      </h2>
      <p
        class="font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA]"
      >
        We show the most important info for the scooters closest to you. So you
        know how much charge they have left and can see roughly how much it will
        cost.
      </p>
    </div>
  </div>
  <!-- Enjoy the ride -->
  <div
    class="flex flex-col items-center gap-6 text-center md:flex-row md:items-start md:justify-between md:gap-[4.94rem] md:text-left xl:flex-col xl:gap-10"
  >
    <div class="">
      <img src="/images/icons/ride.svg" alt="" class="" />
    </div>
    <div
      class="flex w-[19.4375rem] flex-col gap-6 md:w-[24.875rem] md:gap-[1.69rem] xl:w-[21.875rem]"
    >
      <h2
        class="font-SpaceMono text-xl font-bold leading-7 tracking-[-0.05581rem] text-[#495567] md:text-2xl md:tracking-[-0.06694rem]"
      >
        Enjoy the ride
      </h2>
      <p
        class="font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA]"
      >
        Scan the QR code and the bike will unlock. Retract the cable lock, put
        on a helmet, and you’re off! Always lock bikes away from walkways and
        accessibility ramps.
      </p>
    </div>
  </div>

  <div
    class="absolute left-[2.688rem] top-[-7.625rem] -z-50 hidden md:flex xl:hidden"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="15"
      height="513"
      viewBox="0 0 15 513"
      fill="none"
    >
      <path d="M7.5 512.5V0.5" stroke="#E5ECF4" stroke-width="15"></path>
    </svg>
  </div>
  <div
    class="absolute left-[-10.063rem] top-[2.375rem] -z-50 hidden md:hidden xl:flex"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="974"
      height="15"
      viewBox="0 0 974 15"
      fill="none"
    >
      <path d="M973.5 7.5H0.5" stroke="#E5ECF4" stroke-width="15"></path>
    </svg>
  </div>
</section>
