---
import "@/styles/globals.css";
---

<section
  class="mx-8 flex flex-col items-center justify-center gap-14 text-center md:ml-[2.44rem] md:mr-10 md:gap-[5.55rem] xl:mx-[10.31rem]"
>
  <h2
    class="w-[19.4375rem] font-SpaceMono text-[2rem] font-bold leading-8 tracking-[-0.08931rem] text-[#495567] md:w-[28.5625rem] md:text-[3rem] md:leading-[3rem] md:tracking-[-0.13394rem] xl:w-[33.75rem]"
  >
    Why join us?
  </h2>
  <!-- REASONS WARPPER -->
  <div
    class="flex flex-col items-center justify-center gap-[2.88rem] text-center xl:flex-row xl:items-center xl:justify-between"
  >
    <!-- OUR TECH  -->
    <div class="flex flex-col items-center justify-center gap-12">
      <!-- IMG & NUM 1 -->
      <div class="relative">
        <img
          src="/images/images/our-tech.jpg"
          alt=""
          class="w-[16.1875rem] rounded-full"
        />
        <h2
          class="absolute bottom-[-31px] left-[78px] flex size-24 items-center justify-center rounded-full bg-[#FCB72B] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567]"
        >
          01
        </h2>
      </div>
      <!-- TEXT -->
      <div class="flex flex-col gap-[1.69rem]">
        <h3
          class="w-[19.4375rem] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          Our tech
        </h3>
        <p
          class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          We&#39;re using cutting edge technology to drive accessible urban
          transportation forward. Our fully electric scooters are a joy to ride!
        </p>
      </div>
    </div>
    <!-- Our integrity  -->
    <div class="flex flex-col items-center justify-center gap-12">
      <!-- IMG & NUM  -->
      <div class="relative">
        <img
          src="/images/images/our-integrity.jpg"
          alt=""
          class="w-[16.1875rem] rounded-full"
        />
        <h2
          class="absolute bottom-[-31px] left-[78px] flex size-24 items-center justify-center rounded-full bg-[#FCB72B] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567]"
        >
          02
        </h2>
      </div>
      <!-- TEXT -->
      <div class="flex flex-col gap-[1.69rem]">
        <h3
          class="w-[19.4375rem] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          Our integrity
        </h3>
        <p
          class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          We are fully committed to deliver a great yet safe, sustainable
          micro-mobility experience in every city we serve.
        </p>
      </div>
    </div>
    <!-- Our community  -->
    <div class="flex flex-col items-center justify-center gap-12">
      <!-- IMG & NUM  -->
      <div class="relative">
        <img
          src="/images/images/our-community.jpg"
          alt=""
          class="w-[16.1875rem] rounded-full"
        />
        <h2
          class="absolute bottom-[-31px] left-[78px] flex size-24 items-center justify-center rounded-full bg-[#FCB72B] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567]"
        >
          03
        </h2>
      </div>
      <!-- TEXT -->
      <div class="flex flex-col gap-[1.69rem]">
        <h3
          class="w-[19.4375rem] font-SpaceMono text-2xl font-bold leading-7 tracking-[-0.06694rem] text-[#495567] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          Our community
        </h3>
        <p
          class="w-[19.4375rem] font-LexendDeca text-[0.9375rem] font-normal leading-[1.5625rem] text-[#939CAA] md:w-[28.5625rem] xl:w-[21.875rem]"
        >
          We support every community we serve. All workers are paid a living
          wage based on their location and are Scoot employees.
        </p>
      </div>
    </div>
  </div>
</section>
